
ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
ol.progtrckr[data-progtrckr-steps="10"] li { width: 9%; }
ol.progtrckr[data-progtrckr-steps="11"] li { width: 8%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid green;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: green;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

.justify{text-align: justify;}

.textstyle-p{
        margin-bottom: 200px;
        margin-top: 50px;
        text-align: justify;
    }
.textstyle-p{
        margin-bottom: 50px;
        margin-top: 30px;
        text-align: justify;
    }
.img-post-pad{
    position: absolute;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-title-p{
    font-size: 15px;
}

.text-title-footer{
    font-size: 11px !important;
}
.site-title-header{
    font-size: 19px !important;
}

.site-title-social{
    font-size: 10px !important;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.hr-style{
   width: 100% !important; 
   color: black; 
   height: 1px; 
   background-color:gray;
}

.button-w-style {
    float: left;
    display: block;
    height: 35px;
    padding-top: 4px;
    text-align: center;
    width: 125px;
}

.img-width{
    width:70px !important;
    height:30px !important;
}
@media(max-width: 400px){
    .img-width{
    margin-top: 18px !important;
    width:70px !important;
    height:30px !important;
}
}

@media(max-width: 600px){
    .img-width{
    margin-top: 23px !important;
    width:70px !important;
    height:30px !important;   
}
}

@media(max-width: 600px){
    .crta-hide-class{
    display:none;
}
}

@media(max-width: 800px){
    .crta-hide-class{
    display:none;
}
}

@media(max-width: 600px){
    .ok-ribbon {
    background-color: #0D3E1E !important;
}
}