<footer class="site-footer">

  <div>
    <div class="primary">
      <a href="https://crta.rs/" rel="external"><img src="{{ "/img/logo-header.png" | prepend: site.baseurl }}" width="145" height="32" alt="Open Knowledge"></a>

      <!-- {% if site.supporters %}
      <div class="supporters">
        <h6>Supported by</h6>
        {% for supporter in site.supporters %}
          {% if supporter.footer_logo %}
          <a{% if supporter.url %} href="{{ supporter.url }}" rel="external"{% endif %}><img src="{{ site.baseurl }}/img/supporters/{{ supporter.footer_logo }}" alt="{{ supporter.name }}"></a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %} -->
    </div>
    <div class="secondary">
      <ul>
        <li><a href="{{ site.baseurl }}/pages/sve-o-javnim-finansijama/">Sve o javnim finansijama</a></li>
        <li><a href="{{ site.baseurl }}/pages/podrska-strucnjaka" rel="external">Podrska strucnjaka</a></li>
        <li><a href="mailto:office@crta.rs" rel="external"> O nama</a></li>
        <li class="button"><a href="http://opendefinition.org/" rel="external"><img src="{{ site.baseurl }}/img/open-content.svg" width="80" height="15" alt="Open Content"/></a></li>
      </ul>
    </div>

    <div class="tertiary">
      <div>
        <ul>
          <li><a href="{{ site.baseurl }}/pages/vodic-za-budzete">Vodič za budžete</a></li>
          <li><a href="{{ site.baseurl }}/pages/pravni-okvir">Pravni okvir</a></li>
          <li><a href="{{ site.baseurl }}/pages/javne-nabavke">Javne nabavke</a></li>
          <li><a href="{{ site.baseurl }}/pages/inicijative">Inicijative</a></li>
        </ul>

        <ul style="float:right;">
          <li ><a target="_blank" href="https://twitter.com/CRTArs" rel="external">Twitter</a></li>
          <li ><a target="_blank" href="https://www.facebook.com/CRTA-Center-for-Research-Transparency-and-Accountability-246944101993258" rel="external">Facebook</a></li>
          <li ><a target="_blank" href="https://www.youtube.com/user/Istinomer" rel="external">Youtube</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
