{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/finansijama/">Sve o javnim finansijama</a>
      <ul >
          <li><a href="{{ site.baseurl }}/pages/">Vesti</a></li>

          <li>
            <a href="{{ site.baseurl }}/pages/">Vodič za budžete</a>
            <ul>
              <li>  <a href="{{ site.baseurl }}/pages/">Uvod</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Analiza problema i okruženja</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Definisanje budžetskog zastupanja i uloga civilnog društv</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Definicije osnovnih pojmova</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Institucionalni okvir i nadležnosti lokalne samouprave</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Analiza budžeta</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Kako izabrati problem</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Analiza aktera</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">2 pretpostavke i 16 hipoteza budžetskog zagovaranja</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Izgradnja baze za budžetsko zagovaranje</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/">Kampanja</a></li>
            </ul>
            <li>
              <a href="{{ site.baseurl }}/pages/">Pravni okvir</a>
              <ul>
                <li>  <a href="{{ site.baseurl }}/pages/">Budžetski sistem</a></li>

                <li>  <a href="{{ site.baseurl }}/pages/">Državna uprava</a></li>

                <li>  <a href="{{ site.baseurl }}/pages/">Ostale oblasti</a></li>
              </ul>
            </li>

            <li>  <a href="{{ site.baseurl }}/pages/">Javne nabavke</a></li>

            <li>  <a href="{{ site.baseurl }}/pages/">Incijative</a></li>
          </li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/pages/">Podrška stručnjaka </a>
      <ul>
        <li>  <a href="{{ site.baseurl }}/pages/">Postavite pitanje</a></li>

        <li>  <a href="{{ site.baseurl }}/pages/">Pitanja i odgovori</a></li>

        <li>  <a href="{{ site.baseurl }}/pages/">Istražujemo za vas</a></li>
      </ul>
    </li>


    <li>  <a href="{{ site.baseurl }}/pages/">O nama </a></li>



<!--
      <ul>
        <li {% if url_last == 'pages' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/pages/">Page One</a>
        </li>
        <li {% if url_last == 'page-two' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/pages/page-two/">Page Two</a>
        </li>
        <li {% if url_last == 'page-three' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/pages/page-three/">Page Three</a>
        </li>
      </ul>
    </li>

    <li {% if url_parts contains 'posts' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/posts/">Posts</a>
    </li>

    <li {% if url_last ==  'credits' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/credits/">Credits</a>
    </li> -->

</nav>
