{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title site-title-header" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="#mm-1">Sve o javnim finansijama</a>
      <ul >
          <li><a href="{{ site.baseurl }}/stranice/vesti">Vesti</a></li>

          <li>
            <a href="#mm-2">Vodič za budžete</a>
            <ul>
              <li>  <a href="{{ site.baseurl }}/stranice/uvod">Uvod</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/definisanje-budzetskog-zastupanja-i-uloga-civilnog-drustva">Definisanje budžetskog zastupanja i uloga civilnog društva</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/definicije-osnovnih-pojmova">Definicije osnovnih pojmova</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/institucionalni-okvir-i-nadleznosti-lokalne-samouprave">Institucionalni okvir i nadležnosti lokalne samouprave</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/analiza-budzeta">Analiza budžeta</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/kako-izabrati-problem">Kako izabrati problem</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/analiza-aktera">Analiza aktera</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/2-pretpostavke-i-6-hipoteza-budzetskog-zagovaranja">2 pretpostavke i 6 hipoteza budžetskog zagovaranja</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/izgradnja-baze-za-budzetsko-zagovaranje">Izgradnja baze za budžetsko zagovaranje</a></li>

              <li>  <a href="{{ site.baseurl }}/stranice/kampanja">Kampanja</a></li>
            </ul>
            <li>
              <a href="#mm-3">Pravni okvir</a>
              <ul>
                <li>  <a href="{{ site.baseurl }}/stranice/budzetski-sistem">Budžetski sistem</a></li>

                <li>  <a href="{{ site.baseurl }}/stranice/drzavna-uprava">Državna uprava</a></li>

                <li>  <a href="{{ site.baseurl }}/stranice/ostale-oblasti">Ostale oblasti</a></li>
              </ul>
            </li>

            <li>  <a href="{{ site.baseurl }}/stranice/javne-nabavke">Javne nabavke</a></li>

            <li>  <a href="{{ site.baseurl }}/stranice/inicijative">Incijative</a></li>
          </li>
      </ul>
    </li>
    <li>
      <a href="#mm-4">Podrška stručnjaka </a>
      <ul>
        <li>  <a href="{{ site.baseurl }}/stranice/postavite-pitanje">Postavite pitanje</a></li>

        <li>  <a href="{{ site.baseurl }}/stranice/pitanja-i-odgovori">Pitanja i odgovori</a></li>

        <li>  <a href="{{ site.baseurl }}/stranice/istrazejumo-za-vas">Istražujemo za vas</a></li>
      </ul>
    </li>

    <li>  <a href="{{ site.baseurl }}/stranice/video">Video</a></li>
    <li>  <a href="{{ site.baseurl }}/stranice/">Šta je VoditeRačuna.rs</a></li>



<!--
      <ul>
        <li >
          <a href="{{ site.baseurl }}/stranice/">Page One</a>
        </li>
        <li {% if url_last == 'page-two' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/stranice/page-two/">Page Two</a>
        </li>
        <li {% if url_last == 'page-three' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/stranice/page-three/">Page Three</a>
        </li>
      </ul>
    </li>

    <li {% if url_parts contains 'posts' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/posts/">Posts</a>
    </li>

    <li {% if url_last ==  'credits' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/credits/">Credits</a>
    </li> -->

</nav>
