{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/finansijama/">Sve o javnim finansijama</a>
      <ul >
          <li><a href="{{ site.baseurl }}/pages/vesti">Vesti</a></li>

          <li>
            <a href="{{ site.baseurl }}/pages/vodic-za-budzete">Vodič za budžete</a>
            <ul>
              <li>  <a href="{{ site.baseurl }}/pages/uvod">Uvod</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/analiza-problema-i-okruzenja">Analiza problema i okruženja</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/definisanje-budzetskog-zastupanja-i-uloga-civilnog-drustv">Definisanje budžetskog zastupanja i uloga civilnog društv</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/definicije-osnovnih-pojmova">Definicije osnovnih pojmova</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/institucionalni-okvir-i-nadleznosti-lokalne-samouprave">Institucionalni okvir i nadležnosti lokalne samouprave</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/analiza-budzeta">Analiza budžeta</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/kako-izabrati-problem">Kako izabrati problem</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/analiza-aktera">Analiza aktera</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/2-pretpostavke-i-16-hipoteza-budzetskog-zagovaranja">2 pretpostavke i 16 hipoteza budžetskog zagovaranja</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/izgradnja-baze-za-budzetsko-zagovaranje">Izgradnja baze za budžetsko zagovaranje</a></li>

              <li>  <a href="{{ site.baseurl }}/pages/kampanja">Kampanja</a></li>
            </ul>
            <li>
              <a href="{{ site.baseurl }}/pages/pravni-okvir">Pravni okvir</a>
              <ul>
                <li>  <a href="{{ site.baseurl }}/pages/budzetski-sistem">Budžetski sistem</a></li>

                <li>  <a href="{{ site.baseurl }}/pages/drzavna-uprava">Državna uprava</a></li>

                <li>  <a href="{{ site.baseurl }}/pages/ostale-oblasti">Ostale oblasti</a></li>
              </ul>
            </li>

            <li>  <a href="{{ site.baseurl }}/pages/javne-nabavke">Javne nabavke</a></li>

            <li>  <a href="{{ site.baseurl }}/pages/inicijative">Incijative</a></li>
          </li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/pages/podrska-strucnjaka">Podrška stručnjaka </a>
      <ul>
        <li>  <a href="{{ site.baseurl }}/pages/postavite-pitanje">Postavite pitanje</a></li>

        <li>  <a href="{{ site.baseurl }}/pages/pitanja-i-odgovori">Pitanja i odgovori</a></li>

        <li>  <a href="{{ site.baseurl }}/pages/istrazejumo-za-vas">Istražujemo za vas</a></li>
      </ul>
    </li>


    <li>  <a href="{{ site.baseurl }}/pages/">O nama </a></li>



<!--
      <ul>
        <li {% if url_last == 'pages' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/pages/">Page One</a>
        </li>
        <li {% if url_last == 'page-two' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/pages/page-two/">Page Two</a>
        </li>
        <li {% if url_last == 'page-three' %}class="Selected"{% endif %}>
          <a href="{{ site.baseurl }}/pages/page-three/">Page Three</a>
        </li>
      </ul>
    </li>

    <li {% if url_parts contains 'posts' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/posts/">Posts</a>
    </li>

    <li {% if url_last ==  'credits' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/credits/">Credits</a>
    </li> -->

</nav>
