<ol class="progtrckr" data-progtrckr-steps="6">
    <a href="{{site.baseurl}}/hipoteza/2015/10/31/Hipoteza-1-Budžetska-sredstva-se-efikasno-troše/" >
	    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Hipoteza 1 – Budžetska sredstva se troše u dovoljnoj meri">
	    	8
	    </li>
	</a>
    <a href="{{site.baseurl}}/hipoteza/2015/10/30/Hipoteza-2-Budžetska-sredstva-se-troše-u-dovoljnoj-meri/" >
    	<li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Hipoteza 2 – Budžetska sredstva se troše u dovoljnoj meri">
    		8 
    	</li>
    </a>
    <a href="{{site.baseurl}}/hipoteza/2015/10/29/Hipoteza-3-Budžetska-izdvajanja-obezbeđuju-rešavanje-problema-kojim-se-bavimo/" >
    	<li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Hipoteza 3 – Budžetska izdvajanja obezbeđuju rešavanje problema kojim se bavimo">
    		8
   		</li>
   	</a>
    <a href="{{site.baseurl}}/hipoteza/2015/10/28/Hipoteza-4-Temakoju-naša-OCD-zagovara-dobija-dovoljno-sredstava/">
    	<li class="progtrckr-todo red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Hipoteza 4 – Temakoju naša OCD zagovara dobija dovoljno sredstava">
    		8
    	</li>
    </a>
    <a href="{{site.baseurl}}/hipoteza/2015/10/27/Hipoteza-5-Budžetske-politike-obezbeđuju-pravednu-raspodelu/" >
    	<li class="progtrckr-todo red-tooltip add-tooltip"  data-toggle="tooltip" data-placement="bottom" data-original-title="Hipoteza 5 – Budžetske politike obezbeđuju pravednu raspodelu">
    		8 
    	</li>
    </a>
    <a href="{{site.baseurl}}/hipoteza/2015/10/26/Hipoteza-6-Iz-republičkog-budžeta-odvaja-se-dovoljno-za-lokalni-nivo/">
    	<li class="progtrckr-todo red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Hipoteza 6 – Iz republičkog budžeta odvaja se dovoljno za lokalni nivo">
    		8
    </li> </a>
</ol>

<br/><br/>