<div class="page-tools">
  <ul>
    {% if site.github_repo and page.edit %}
    <li class="edit tooltip-item">
      Improve this page
      
      <span class="tooltip">
        <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/gh-pages/{{page.path}}" class="github" rel="external">Edit on Github</a>
        <a href="{{ "/contribute/" | prepend: site.baseurl }}" target="_blank">Help and instructions</a>
      </span>
    </li>
    {% endif %}
    {% if active_section.translate_link %}
    <li class="translate tooltip-item">
      Translate this page
      <span class="tooltip">
        <a href="{{ "/contribute/translate-guide" | prepend: site.baseurl }}" target="_blank">Translation guide</a>
      </span>
    </li>
    {% endif %}

    <li class="share tooltip-item">
      <p class="text-share">Share </p>
      <span class="tooltip">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}" class="facebook" rel="external">Share on Facebook</a>
        <a href="https://twitter.com/share" class="twitter"  data-url="{{ site.baseurl }}{{ page.url }}" data-text="Vodite računa" data-via="VoditeRacuna"  rel="external">Share on Twitter</a>
      </span>
    </li>
    {% if page.section == 'resources' %}
    <li class="add tooltip-item">
      Add a resource
      
      <span class="tooltip">
        <a href="{{ "/contribute/add-resource/" | prepend: site.baseurl }}" target="_blank">Help and instructions</a>
      </span>
    </li>
    {% endif %}
    {% if page.section == 'solutions-landing' %}
    <li class="add tooltip-item">
      Add a solution
      
      <span class="tooltip">
        <a href="{{ "/contribute/" | prepend: site.baseurl }}" target="_blank">Help and instructions</a>
      </span>
    </li>
    {% endif %}
  </ul>
  
</div>