<ol class="progtrckr" data-progtrckr-steps="11">
    <a href="{{site.baseurl}}/stranice/uvod/" >
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Uvod">1 </li> </a>
    <a href="{{site.baseurl}}/stranice/definisanje-budzetskog-zastupanja-i-uloga-civilnog-drustva/" >
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Definisanje budžetskog zastupanja i uloga civilnog društva">2 </li> </a>
    <a href="{{site.baseurl}}/stranice/definicije-osnovnih-pojmova/" >
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Definicije osnonih pojmova">3 </li> </a>
    <a href="{{site.baseurl}}/stranice/institucionalni-okvir-i-nadleznosti-lokalne-samouprave/">
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Institucionalni okvir i nadležnosti lokalne samouprave">4 </li> </a>
    <a href="{{site.baseurl}}/stranice/analiza-budzeta/" >
    <li class="progtrckr-done red-tooltip add-tooltip"  data-toggle="tooltip" data-placement="bottom" data-original-title="Analiza Budgžeta">5 </li> </a>
    <a href="{{site.baseurl}}/stranice/kako-izabrati-problem/">
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Kako izabrati problem">6 </li> </a>
    <a href="{{site.baseurl}}/stranice/analiza-aktera/" >
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Analiza aktera">7 </li> </a> 
    <a href="{{site.baseurl}}/stranice/2-pretpostavke-i-6-hipoteza-budzetskog-zagovaranja/">
    <li class="progtrckr-done red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="2 pretpostavke i 6 hipoteza budžetskog zagovaranja">8 </li> </a>
    <a href="{{site.baseurl}}/stranice/izgradnja-baze-za-budzetsko-zagovaranje/">
    <li class="progtrckr-todo red-tooltip add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="Izgradnja baze za budžetsko zagovaranje">9</li> </a>
    <a href="{{site.baseurl}}/stranice/kampanja/">
    <li class="progtrckr-todo red-tooltip add-tooltip txt"  data-toggle="tooltip" data-placement="bottom" data-original-title="Kampanja">10</li> </a>
</ol>
<br/><br/>
